body{
    background-image: url(../images/prism.png);
    

    

}
h1, h2{
    font-family: 'Georgia', Times, "Times New Roman", serif;
}
p, #field {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h2{
    color:#4aaaa5;
}


.HeaderBar{
    width:100%;
    background: #ffffff;
    height:75px;
    top:0;
}

.Header{
    
    width: 960px;
    background-color: #ffffff;
    text-align:right;
    height:75px;
    vertical-align:middle;
    line-height: 75px;
    margin: 0 auto;
    border: 2px;
    border-color:#cccccc;
    


    
}

.Footer{
    position:static;
    bottom:5px;
    text-align: center;
    width: 100%;
    Height: 45px;
    padding: 10px 10px 3px 10px;
    vertical-align:bottom;
    line-height: 45px;
    background-color: #666666;

}

#Copy{
    color: #ffffff
}

#bar{
    
    position: static;
    background-color: #4aaaa5;
    height:10px;
    width:100%;
    top:0;
}

#HeaderBox{
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    float: none;
    color: white;
    width:200px;
    height:45px;
    padding: 15px 15px 15px 15px;
}

.Body {
    width: 920px;
    padding: 20px;
    height:100%;
    border:20px;
    background: #ffffff;
    margin: 20px auto;
    border: 2px;
    border-color: #cccccc;
    
    overflow:auto;

}
#bio-image{
    float:left;
    margin: 0 20px 20px 20px;
    width: 150px;
    height:150px;
}

textarea{
    width:920px;

}
input{
    width:920px;
}
#Button{
    width:auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


#Tile1{
    float: left;
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url(../images/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 20px;
    
}


#Tile2{
    float: left;
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url(../images/colors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin:20px;
}

#Tile3{
    float: left;
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url(../images/blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin:20px;
}

#Tile4{
    float: left;
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url(../images/alps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin:20px;
}

#Tile5{
    float: left;
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin:20px;
}

#Button{
    padding:10px;
    font-size: 20px;
    color:white;
    background-color:#4aaaa5;
}

#Button:hover{
    background-color: #234c4a;
}
  
#description {
    position: absolute;
    bottom: 20px;
    width: 280px;
    padding: 10px;
    text-align: center;
    background: #4aaaa5;
}

#field{
    font-size:15px;
}

@media screen and (max-width: 960px) {
    body {
        background-size: auto;
    }
    
    #HeaderBox{
        position: absolute;
        text-align: center;
        vertical-align: middle;
        line-height: 5px;
        border: 0;
        width:30%;
        height:45px;
        padding:15px 0 15px 0;
        
        

    }

    .Header{
    
        width: 75%;
        background-color: #ffffff;
        text-align:right;
        height:75px;
        vertical-align:middle;
        line-height: 75px;
        margin: 0 auto;
        border: 2px;
        border-color:#cccccc;
    }
        
    
    
       

    #field{
        width: 68vw;
        padding:0 10px 0 0;

    }

    textarea{
        width: 68vw;
        padding:0 10px 0 0;
    }

    .HeaderBar{
        width:100%;
        top:0;
    }


        

    .Body {
        width: 70%;
        padding: 20px;
        height:100%;
        border:20px;
        background: #ffffff;
        margin: 20px auto;
        border: 2px;
        border-color: #cccccc;
        
        overflow:auto;
    
    }
    #Tile1{
        float: left;
        position: relative;
        height: 200px;
        width: 200px;
        background-position: 50% 50%;
        margin: 20px;
        
    }
    
    
    #Tile2{
        float: left;
        position: relative;
        height: 200px;
        width: 200px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile3{
        float: left;
        position: relative;
        height: 200px;
        width: 200px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile4{
        float: left;
        position: relative;
        height: 200px;
        width: 200px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile5{
        float: left;
        position: relative;
        height: 200px;
        width: 200px;
        background-position: 50% 50%;
        margin:20px;
    }
    
          
    #description {
        position: absolute;
        bottom: 10px;
        width: 180px;
        padding: 10px;
        text-align: center;
        
    }
    


}
}


@media screen and (max-width: 768px) {
    
    body {
        background-size: auto;
    }
    
    #HeaderBox{
        position: absolute;
        text-align: center;
        vertical-align: middle;
        line-height: 5px;
        border: 0;
        width:30%;
        height:45px;
        padding:15px 0 15px 0;
        
        

    }

    .Header{
    
        width: 75%;
        background-color: #ffffff;
        text-align:right;
        height:75px;
        vertical-align:middle;
        line-height: 75px;
        margin: 0 auto;
        border: 2px;
        border-color:#cccccc;
    }
        
    
    
       

    #field{
        width: 68vw;
        padding:0 10px 0 0;

    }

    textarea{
        width: 68vw;
        padding:0 10px 0 0;
    }

    .HeaderBar{
        width:100%;
        top:0;
    }


        

    .Body {
        width: 70%;
        padding: 20px;
        height:100%;
        border:20px;
        background: #ffffff;
        margin: 20px auto;
        border: 2px;
        border-color: #cccccc;
        
        overflow:auto;
    
    }
    #Tile1{
        float: left;
        position: relative;
        height: 300px;
        width: 300px;
        background-position: 50% 50%;
        margin: 20px;
        
    }
    
    
    #Tile2{
        float: left;
        position: relative;
        height: 300px;
        width: 300px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile3{
        float: left;
        position: relative;
        height: 300px;
        width: 300px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile4{
        float: left;
        position: relative;
        height: 300px;
        width: 300px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile5{
        float: left;
        position: relative;
        height: 300px;
        width: 300px;
        background-position: 50% 50%;
        margin:20px;
    }
    
          
    #description {
        position: absolute;
        bottom: 10px;
        width: 280px;
        padding: 10px;
        text-align: center;
        background: #4aaaa5;
    }
    


}

@media screen and (max-width: 640px) {
    
    body {
        background-size: auto;
    }
    
    #HeaderBox{
        position: absolute;
        text-align: center;
        vertical-align: middle;
        line-height: 5px;
        border: 0;
        width:100%;
        height:45px;
        padding:15px 0 15px 0;
        
        

    }

    #field{
        width: 85vw;
        padding:0 10px 0 0;

    }

    textarea{
        width: 85vw;
        padding:0 10px 0 0;
    }

    .HeaderBar{
        width:100%;
        top:0;
    }

    .Header{
    
        width: 100vw;
        background-color: #ffffff;
        text-align:center;
        height:150px;
        vertical-align:bottom;
        line-height: 190px;
        margin: 0 auto;
        border: 2px;
        border-color:#cccccc;
        float:right;
        font-size: 20px;
        
        margin: 0 0 20px 0;
    }
        

    .Body {
        width: 90%;
        padding: 20px;
        height:100%;
        border:20px;
        background: #ffffff;
        margin: 20px auto;
        border: 2px;
        border-color: #cccccc;
        
        overflow:auto;
    
    }
    #Tile1{
        float: left;
        position: relative;
        height: 500px;
        width: 500px;
        background-position: 50% 50%;
        margin: 20px;
        
    }
    
    
    #Tile2{
        float: left;
        position: relative;
        height: 500px;
        width: 500px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile3{
        float: left;
        position: relative;
        height: 500px;
        width: 500px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile4{
        float: left;
        position: relative;
        height: 500px;
        width: 500px;
        background-position: 50% 50%;
        margin:20px;
    }
    
    #Tile5{
        float: left;
        position: relative;
        height: 500px;
        width: 500px;
        background-position: 50% 50%;
        margin:20px;
    }
    
          
    #description {
        position: absolute;
        bottom: 40px;
        width: 480px;
        padding: 10px;
        text-align: center;
        background: #4aaaa5;
    }
    


}


  
    





